/*Milestone 1
Sfruttando gli screen e gli asset in allegato riproduciamo la grafica proposta in maniera statica: 
utilizzando soltanto HTML e CSS e riproducendo una singola fotografia (usiamo una qualunque immagine a piacimento)*/

/*Da usare*/
/*css rotate property e scale property*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

header {
    background-image: url('./img/wall.png');
    background-size: cover; 
    height: 130px; 
    width: 100%; 
}

.body {
    background-image: url('./img/cork.png');
    background-size: cover; 
    height: calc(100vh - 130px);
    display: flex; 
    justify-content: center; 
    align-items: center; 
}


h1 {
    text-align: center; 
    font-family: 'Edu TAS Beginner'
    
}

p{
    font-family: 'Edu TAS Beginner'
}

.row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.col-4 {
    flex-basis: 300px; 
    margin: 10px; 
    position: relative;
}

.card {
    background-color: white;
    overflow: hidden;
    text-align: center; 
    
}

.card img {
    width: 80%; 
    height: auto; 
    margin-top: 20px;
}


.card-body {
    padding: 10px; 
    margin-top: 15px;
}


.card-text {
    color: #2e2c2c; 
}

.svg-icon {
    width: 36px;
    height: 36px;
    position: absolute;
    left: 50%; 
    transform: translateX(-50%); 
    top: -18px; 
   
}